@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-customColor {
  background-color: #F7EEDD;
}

body {
  @apply bg-customColor;
}

@keyframes color-change {
  0% { color: #2D3748; } /* slate-900 */
  50% { color: #667EEA; } /* Indigo-500 */
  100% { color: #2D3748; } /* slate-900 */
}

.animate-color-change {
  animation: color-change 3s infinite alternate;
}